.tools-details {
	position: absolute;
	bottom: 3em;

	button {
		background: transparent;
		border: 1px solid darken($white, 16%);
		border-radius: 4px;
		display: inline-block;
		line-height: 1;
		outline: none;
		padding: .25em 1em .4125em;
	}
}
