@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700';
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

button,
.button {
  background: transparent;
  display: inline-block;
  line-height: 1;
  outline: none;
  padding: .25em 1em .4125em; }

.button--esc {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  color: #000; }
  .button--esc:hover, .button--esc:focus {
    background-color: #ededed;
    transition: all .3s ease; }
  .button--esc:is-active {
    background-color: #ededed; }

button {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  outline: none;
  padding: .25em 1em .4125em; }

#run_it {
  background: #333333;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 2em;
  position: fixed;
  bottom: 1.5em;
  left: 0;
  width: 80%; }

h1, h2, h3, h4, h5, h6,
textarea, input {
  font-family: 'PT Serif', serif; }

* {
  box-sizing: border-box; }

body {
  color: #000;
  font: 1em/1.5 'PT Serif', serif;
  padding: 0;
  margin: 0;
  position: relative; }

.side {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0; }
  .side.entry {
    left: 0;
    padding: 0 1em;
    width: 80%; }
  .side.return {
    border-left: 1px solid #e6e6e6;
    left: 80%;
    width: 20%; }

#word_source {
  background: transparent;
  border: none;
  height: 80vh;
  width: 100%;
  outline: none; }

.primary-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5em; }

.metrics {
  list-style: none;
  margin: 0;
  padding: 0; }
  .metrics li {
    color: #b3b3b3;
    font: 700 .75em/1 'PT Sans', sans-serif; }
    .metrics li span {
      display: inline-block;
      padding: .75em 1em; }
      .metrics li span:first-child {
        letter-spacing: 1px;
        text-transform: uppercase; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.primary-header {
  padding: .5em 0; }
  .primary-header:before, .primary-header:after {
    content: '';
    display: table; }
  .primary-header:after {
    clear: both; }
  .primary-header .logotype {
    float: left; }
  .primary-header .addthis_sharing_toolbox {
    float: right;
    margin: .25em 0 0 0; }

.logotype span:first-child {
  background: #333333;
  border-radius: .125em;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: .25em; }

.logotype h1 {
  color: #999999;
  display: inline-block;
  font-size: .85rem;
  font-weight: 400;
  margin-left: .5em; }

.form {
  position: relative; }

#results {
  border-bottom: 1px solid #e6e6e6;
  list-style: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2em;
  bottom: 250px;
  max-height: 100%;
  width: 100%; }
  #results li {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    line-height: 2;
    padding: 0 .5em;
    -webkit-animation: resultSlide 500ms forwards;
            animation: resultSlide 500ms forwards;
    transition: all 500ms cubic-bezier(1, 0.105, 0.33, 0.855);
    opacity: 0; }
    #results li:before, #results li:after {
      content: '';
      display: table; }
    #results li:after {
      clear: both; }
    #results li:nth-child(odd) {
      background: whitesmoke; }
    #results li span {
      display: inline-block;
      padding: .25em; }
      #results li span:nth-child(2) {
        float: right;
        font-weight: 700; }

#results li:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

#results li:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms; }

#results li:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms; }

#results li:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms; }

#results li:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms; }

#results li:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms; }

#results li:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms; }

#results li:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms; }

#results li:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms; }

#results li:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms; }

#results li:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms; }

#results li:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms; }

#results li:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms; }

#results li:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms; }

#results li:nth-child(15) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms; }

#results li:nth-child(16) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms; }

#results li:nth-child(17) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms; }

#results li:nth-child(18) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms; }

#results li:nth-child(19) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms; }

#results li:nth-child(20) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms; }

#results li:nth-child(21) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms; }

#results li:nth-child(22) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms; }

#results li:nth-child(23) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms; }

#results li:nth-child(24) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms; }

#results li:nth-child(25) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms; }

#results li:nth-child(26) {
  -webkit-animation-delay: 2600ms;
          animation-delay: 2600ms; }

#results li:nth-child(27) {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms; }

#results li:nth-child(28) {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms; }

#results li:nth-child(29) {
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms; }

#results li:nth-child(30) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms; }

@-webkit-keyframes resultSlide {
  from {
    opacity: 0;
    -webkit-transform: translateY(300%);
            transform: translateY(300%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes resultSlide {
  from {
    opacity: 0;
    -webkit-transform: translateY(300%);
            transform: translateY(300%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.primary-footer .esc,
.primary-footer .download {
  display: inline-block; }

.g-ad {
  position: absolute;
  bottom: 0; }
