.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

body::after {
  transition: 500ms; }

body.modal-active {
  overflow: hidden; }
  body.modal-active::after {
    background: rgba(255, 255, 255, 0.87);
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.modal {
  background: #fff;
  box-shadow: 0 0 67px rgba(0, 0, 0, 0.25);
  width: 50vw;
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  transition: all 500ms cubic-bezier(1, 0.105, 0.33, 0.855);
  z-index: 999; }
  .modal.is-active {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }

.button--close-modal {
  border: 0;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 1em;
  right: 1em; }
  .button--close-modal::before, .button--close-modal::after {
    background: #27adff;
    content: '';
    display: block;
    width: 32px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .button--close-modal::after {
    -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
            transform: rotate(315deg); }

.form {
  position: relative; }

#results {
  list-style: none;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  max-height: 100%;
  width: 100%; }
  #results li {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    line-height: 2;
    padding: 0 .5em;
    -webkit-animation: resultSlide 500ms forwards;
            animation: resultSlide 500ms forwards;
    transition: all 500ms cubic-bezier(1, 0.105, 0.33, 0.855);
    opacity: 0; }
    #results li:before, #results li:after {
      content: '';
      display: table; }
    #results li:after {
      clear: both; }
    #results li:nth-child(odd) {
      background: whitesmoke; }
    #results li span {
      display: inline-block;
      padding: .25em; }
      #results li span:nth-child(2) {
        float: right;
        font-weight: 700; }

#results li:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

#results li:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms; }

#results li:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms; }

#results li:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms; }

#results li:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms; }

#results li:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms; }

#results li:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms; }

#results li:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms; }

#results li:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms; }

#results li:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms; }

#results li:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms; }

#results li:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms; }

#results li:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms; }

#results li:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms; }

#results li:nth-child(15) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms; }

#results li:nth-child(16) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms; }

#results li:nth-child(17) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms; }

#results li:nth-child(18) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms; }

#results li:nth-child(19) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms; }

#results li:nth-child(20) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms; }

#results li:nth-child(21) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms; }

#results li:nth-child(22) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms; }

#results li:nth-child(23) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms; }

#results li:nth-child(24) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms; }

#results li:nth-child(25) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms; }

#results li:nth-child(26) {
  -webkit-animation-delay: 2600ms;
          animation-delay: 2600ms; }

#results li:nth-child(27) {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms; }

#results li:nth-child(28) {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms; }

#results li:nth-child(29) {
  -webkit-animation-delay: 2900ms;
          animation-delay: 2900ms; }

#results li:nth-child(30) {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms; }

@-webkit-keyframes resultSlide {
  from {
    opacity: 0;
    -webkit-transform: translateY(300%);
            transform: translateY(300%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes resultSlide {
  from {
    opacity: 0;
    -webkit-transform: translateY(300%);
            transform: translateY(300%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.button--security {
  border: 0;
  position: absolute;
  line-height: 1;
  bottom: 2em;
  right: 2em;
  width: 24px;
  height: 24px;
  padding: 0; }
  .button--security svg {
    width: 24px;
    height: 24px; }
    .button--security svg path {
      fill: #999999; }
  .button--security:hover svg path {
    fill: #27adff; }

.primary-footer .esc,
.primary-footer .download {
  display: inline-block; }
